:root {
    --white:#FFF;
    --darkWhite:#E6E6EB;
    --black:#000;
    --lightBlue:#3586ff;
    --darkBlue:rgb(73, 122, 218);
    --gray:#9292A0;
    --darkGray:#696977;
    --lightGray:#D9D9D9;
    --bodyColor:#F5F5F5;
    --danger: #eb1818;
    --transition:all .4s ease-in;
    --arrowColor:#A7A7B6;
    --green:#0bde71;

}